<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title> Blank </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Blank</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-searchbar [value]="searchTerm" [(ngModel)]="searchTerm" (ionBlur)="searchGif()"></ion-searchbar>
	<div>
		<ion-grid>
			<ion-row *ngIf="giphyResults" >
				<ion-col *ngFor="let item of giphyResults" size="3">
					<img [src]="sanitizeGif(item.images.original.url)" >
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
